$color-bg: #111;
$spacing: 2560px;
$time-1: 10s;
$time-2: 20s;
$time-3: 30s;
$time-4: 40s;
$color-particle: #fff;
$flame-height: 150px;
$wick-height: 50px;
$orange: #ff6a00;
$orange-yellow: #ff9224;
$dark: #2c2b39;
$blue-dark: #30537d;
$blue-light: #76daff;
$yellow: #fbf348;
$yellow-grey: #58523a;