:host,html {
    line-height: 1.5;
    text-size-adjust: 100%;
    font-family: 'Gafata',ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    transition-duration:  0.3s;
    list-style: none;
    scroll-behavior: smooth;
    transition: all;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}