:host,html {
    line-height: 1.5;
    text-size-adjust: 100%;
    font-family: Gafata,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    transition-duration:  0.3s;
    list-style: none;
    scroll-behavior: smooth;
    transition: all;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern";
    font-variation-settings: "wght" 400;
    font-family: Gafata,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: left;
    background-color: linear-gradient(to bottom, #713FA6, #4C246E);
    background-blend-mode: overlay;
    backdrop-filter: blur(40px);
}

.cursor {
    cursor: url('/assets/svgs/web/mouse.svg'), auto !important ;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
} 

.legal {
    margin-left: 5px;
    color: #328170;
}